
<link rel="stylesheet" type="text/css" href="vendor/nomalize.css"/>
<link rel="stylesheet" type="text/css" href="css/grid.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<link rel="stylesheet" type="text/css" href="css/all.min.css"/>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">


<header>
    <div class="log_sign">
      <h5><a href="../reg/index.php"> Log In / Sign Up </a></h5>
    </div>
    <div class="top_header">
      <h1>All types of bicycles available under one roof</h1>
      <h1>Buy a bicycle or buy happiness, both are same things</h1>
      <h2>LOVE BIKE & BE BIKER</h2>

      <div class="search_box">
        <a class="btn" href="#">Subscribe</a>
        <input type="text" id="search" name="box" placeholder="Search Your Product" />
        <button type="submit">
          <a href=""><i class="fa fa-search"></i></a>
        </button>
      </div>
    </div>
  </header>
  <!------Navigation Start-->
   <%- include('./nav.ejs')%>
<!--------Container Starrt-->
  <br />
  <section class="container">
    <div class="left_filter">
      <p class="content_heading top-brand">CATEGORY</p>
      <div class="catagory_list">
        <ul>
          <li>
            <input id="bike" name="bike" type="checkbox" value="unchecked" /><label
              for="honda"
              >BIKE</label
            >
          </li>
          <li>
            <input id="mobile" name="mobile" type="checkbox" value="unchecked" /><label
              for="YAMAHA"
              >MOBILES</label
            >
          </li>
          <li>
            <input id="pc" type="checkbox" name="pc" value="unchecked"" /><label
              for="SUZUKI"
              >PC / LAPTOP</label
            >
          </li>
          <li>
            <input id="cam" type="checkbox" name="cam" value="unchecked" /><label for="HERO"
              >CAMERA</label
            >
          </li>
          
        </ul>
      </div>
      <br />
      <p class="content_heading price">PRICE RENGE</p>
      <br />
      <div class="catagory_list price_list">
        <ul>
          <li>
            <input id="ten-six" type="checkbox" value="ten-six" /><label
              for="ten-six"
              >TK 10000-60000</label
            >
          </li>
          <li>
            <input id="six-one" type="checkbox" value="six-one" /><label
              for="six-one"
              >TK 60000-100000</label
            >
          </li>
          <li>
            <input
              id="one-onefive"
              type="checkbox"
              value="one-onefive"
            /><label for="one-onefive">TK 100000-150000</label>
          </li>
          <li>
            <input
              id="onefive-two"
              type="checkbox"
              value="onefive-two"
            /><label for="onefive-two">TK 150000-200000</label>
          </li>
          <li>
            <input
              id="two-twofive"
              type="checkbox"
              value="two-twofive"
            /><label for="two-twofive">TK 200000-250000</label>
          </li>
          <li>
            <input
              id="twofive-five"
              type="checkbox"
              value="twofive-five"
            /><label for="twofive-five">TK 250000-500000</label>
          </li>
        </ul>
      </div>
    </div>
    <br />
    <div class="main_content">
      <p class="content_heading bike_list">All Product</p>
      
      <div class="moto_list " id="bikeList">
        <h3 class="cat_title">Bikes</h3>
          <% getProduct.forEach(product=> { %>
            <% if(product.category ==="bike") { %>
            <div class="col1">
              <input class="com-checkBox" id="" type="checkbox" value="ten-six" />
              <img
                src="/uploads/<%= product.imgs[0]%>"
                alt="<%= product.model%>"
                class="element"
              />
              <h5 class="bike_name"><%= product.model%></h5>
              <h5 style="display: none;"><%= product.category%></h5>
              <p style="display: none;" ><%= product.brand%></p>
              <div class="ele_heightlight">
                <p class="ele_price">Brand</p>
                <p class="ele_price"><%= product.brand%></p>
              </div>
              <div class="ele_heightlight">
                <p class="ele_milage">Price</p>
                <p class="ele_milage"><%= product.price%></p>
              </div>
              <div class="ele_heightlight">
                <p class="ele_milage">Rating</p>
                <p class="ele_milage"><%= product.ratingsAverage%></p>
              </div>
              <button class="details_button"><a class="#" href='/details/<%=product.slug%>'>Details</a></button>
            </div>
        <% }; %>
      <% }); %>
                
      </div>
      <!------2nd Product------->
      
      <div class="moto_list" id="mobileList">
        <h3 class="cat_title">Mobiles</h3>
        <% getProduct.forEach(product=> { %>
          <% if(product.category ==="mobile") { %>
          <div class="col1">
            <input class="com-checkBox" id="" type="checkbox" value="ten-six" />
            <img
            src="/uploads/<%= product.imgs[0]%>"
            alt="<%= product.model%>"
              class="element"
            />
            <h5 class="bike_name"><%= product.model%></h5>
            <h5 style="display: none;"><%= product.category%></h5>
            <p style="display: none;" ><%= product.brand%></p>
            <div class="ele_heightlight">
              <p class="ele_price">Brand</p>
              <p class="ele_price"><%= product.brand%></p>
            </div>
            <div class="ele_heightlight">
              <p class="ele_milage">Price</p>
              <p class="ele_milage"><%= product.price%></p>
            </div>
            <div class="ele_heightlight">
              <p class="ele_milage">Rating</p>
              <p class="ele_milage"><%= product.ratingsAverage%></p>
            </div>
            <button class="details_button"><a class="#" href='/details/<%=product.slug%>'>Details</a></button>
          </div>
      <% }; %>
    <% }) %>
           
      </div>
      <!----3rd Product---->
             
      <div class="moto_list" id="camList">
        <h3 class="cat_title">cameras</h3>
        <% getProduct.forEach(product=> { %>
          <% if(product.category ==="camera") { %>
          <div class="col1">
            <input class="com-checkBox" id="" type="checkbox" value="ten-six" />
            <img
            src="/uploads/<%= product.imgs[0]%>"
            alt="<%= product.model%>"
              class="element"
            />
                <h5 class="bike_name"><%= product.model%></h5>
                <h5 style="display: none;"><%= product.category%></h5>
                 <p class="ele_price"><%= product.brand%></p>
            <div class="ele_heightlight">
              <p class="ele_price">Brand</p>
              <p class="ele_price"><%= product.brand%></p>
            </div>
            <div class="ele_heightlight">
              <p class="ele_milage">Price</p>
              <p class="ele_milage"><%= product.price%></p>
            </div>
            <div class="ele_heightlight">
              <p class="ele_milage">Rating</p>
              <p class="ele_milage"><%= product.ratingsAverage%></p>
            </div>
            <button class="details_button"><a class="#" href='/details/<%=product.slug%>'>Details</a></button>
          </div>
      <% }; %>
    <% }) %>
      
       
       
        
      </div>
      <!-------->
    </div>
  </section>
  <section class="footer">
    <%- include('./footer.ejs')%>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    const mobile = document.querySelector('#mobile');
    const bike = document.querySelector('#bike');
    const pc = document.querySelector('#pc');
    const cam = document.querySelector('#cam');
    const mobileList = document.querySelector('#mobileList');
    const bikeList = document.querySelector('#bikeList');
    const pcList = document.querySelector('#pcList');
    const camList = document.querySelector('#camList');

    mobile.addEventListener('change',function(e){
      if(mobile.checked){
        mobileList.style.display='flex';
        bikeList.style.display='none';
        camList.style.display='none';
        pcList.style.display='none';
      }else{
        bikeList.style.display='flex';
        mobileList.style.display='flex';
        camList.style.display='flex';
        pcList.style.display='flex';
      }
    })

    bike.addEventListener('change',function(e){
      if(bike.checked){
        bikeList.style.display='flex';
        mobileList.style.display='none';
        camList.style.display='none';
        pcList.style.display='none';
      }else{
        bikeList.style.display='flex';
        mobileList.style.display='flex';
        camList.style.display='flex';
        pcList.style.display='flex';
      }
    })

    cam.addEventListener('change',function(e){
      if(cam.checked){
        camList.style.display='flex';
        mobileList.style.display='none';
        bikeList.style.display='none';
        pcList.style.display='none';
      }else{
        bikeList.style.display='flex';
        mobileList.style.display='flex';
        camList.style.display='flex';
        pcList.style.display='flex';
      }
    })

    const search = document.querySelector('#search');
    search.addEventListener('keyup',function(e){
      const keyWord = e.target.value.toLowerCase();
      // console.log(keyWord);
      // console.log(e.value);
      const items = document.querySelectorAll('.col1');

      for(let item of items){
        // console.log(item.children);
        const productName = item.children[2].innerText.toLowerCase();
        const productbrand = item.children[4].innerText.toLowerCase();
        const productCategory = item.children[3].innerText.toLowerCase();

        // console.log(item.children[5].children[1]);
        // console.log(productName,productCategory,productbrand);

        if(productName.includes(keyWord) || productbrand.includes(keyWord) || productCategory.includes(keyWord)){
          item.style.display = 'block';
        }else{
          item.style.display = 'none';
        }
      }
    })
    // $("input:checkbox").attr("unchecked",true).click(function(){
    //   let show ="."+$(this).attr("value");
    //   $(show).toggle();
    // })
  </script>